html, body {
    height: 100%;
    width: 100%;
    font-family: 'Average', serif;
    background: #2B2D2F;
    color: #ffffff;
}

/*General*/
a {
    color: #6c9fce;
}
button {
    padding: .375em!important;
}
.btn {
    background-color: transparent;
    border: 0!important;
}
.container-fluid {
    padding: 0;
}

/*Navigation*/
.navbar {
    background-color: #0f4c75;
    padding: 0.1em 1em;
    justify-items: space-between;
}
.navbar-collapse {
    width: unset!important;
}
ol, ul, dl {
    margin-bottom: 0;
    padding-inline-start: 0;
}
.nav-link {
    font-size: 1.35em;
    font-family: 'Spectre', serif;
}
.collapse, .collapsing {
    text-align: right;
    flex-grow: unset;
}
.navbar-toggler {
    border: 0;
}
.form-inline {
    display: inline-flex;
}

/*Header*/
.header {
    color: aliceblue;
    text-align: center;
}

/*Carousel*/
.carousel-item img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
}
.carousel-caption h1 {
    font-size: 5em;
    font-family: 'Spectral', serif;
    text-shadow: 1px 1px 10px #000;
}

/*Featurette*/
.featurette-divider {
    margin: 4rem 0;
    background: #0f4c75;
}
.featurette-heading {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
.lead {
    color: aliceblue!important;
}

/*Jumbotron*/
.lead {
    color: #000;
    font-size: 2em;
}

/*Footer*/
footer {
    text-align: center;
    background-color: #3f3f3f;
    color: #6c9fce;
    padding-top: 2em;
}
hr.light {
    border-top: 1px solid #6c9fce;
    width: 85%;
    margin-top: .8em;
    margin-bottom: 1em;
}
.col-12 {
    padding: 1em;
}

/*Media Queries*/
@media (min-width: 576px) {
    .carousel-caption h1 {
        font-size: 200%;
    }
}
@media (min-width: 768px) {
    .carousel-caption h1 {
        font-size: 300%;
    }
}
@media (min-width: 992px) {
    .carousel-caption h1 {
        font-size: 400%;
    }
}
@media (min-width: 1200px) {
    .carousel-caption h1 {
        font-size: 500%;
    }
}

/*Firefox Bug Fix*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*Fixed Background Image*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*Bootstrap Padding Fix*/
[class*="col-"] {
    padding: 1em;
}
